<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-tab-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body background="/img/thunder.jpg"> 
    <div class="main-content">
        {{>header}}
        <p>Hello! This site was created by Matt Geno! This is a site testing my web design skills. It uses data from mapbox.com and weatherstack.com. Enjoy!</p>
    </div>  
    {{>footer}}
</body>

</html>