<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather-tab-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body background="/img/thunder.jpg">
    <div class="main-content">
        {{>header}}

        <p>Use this site to find the current forecast for any location</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>